<div class="row">
  <div class="col-xs-12">
    <h2>Guide</h2>
    <p>
    This is a short guide that aims to describe how the patent term assessment webpage should be used.
    After logging in please go to the dashboard and select a patent to assess by clicking on it.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-xs-12">
    <img src="/assets/choose_one.jpg" class="img-responsive" alt="Responsive image">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
    Each patent is represented by a box containing the patent's name and a progress bar that indicates how much of the patent has already be assessed.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-xs-12">
    <img src="/assets/selected.jpg" class="img-responsive" alt="Responsive image">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
    Once a patent has been selected, an information panel will appear on the right side of the dashboard.
    The panel contains information regarding the domains and IPCs that have been assigned to the selected patent.
    To start assessing the selected patent please click on the "Start Assessment" button at the top of the information panel.
    </p>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 col-xs-12">
    <img src="/assets/assessment.jpg" class="img-responsive" alt="Responsive image">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
    When assessing a patent, the main objective is to evaluate the termhoodness and search quality of pre-selected Search Term Candidates.
    The blue column in the middle contains all Search Term Candidates that have been selected for this particular patent (displayed on the left) using a certain method.
    For each candidate please choose one of three quality labels.
    </p>
    <ul>
      <li><strong>Search Term / Keyphrase: </strong>The candidate term is strongly related to the patent and would make a good search term.</li>
      <li><strong>Technical Term: </strong>The candidate term is a technical term but would NOT be a suitable search term.</li>
      <li><strong>Not a Technical Term: </strong>The candidate is not a technical term.</li>
    </ul>
    <p>
    Furthermore, some Search Term Candidates also have potentially Related Terms, which are shown in the green column on the right whenever a Search Term Candidate is selected in the blue column.
    Please select one of the following relationships for each related term:
    </p>
    <ul>
      <li><strong>Is Synonym of: </strong>The Related Term means exactly or nearly the same as the selected Search Term Candidate.</li>
      <li><strong>Is Hyponym of: </strong>The Related Term is in a "type-of" relationship with the selected Search Term Candidate. E.g. pigeon is a hyponym of bird.</li>
      <li><strong>Is Hypernym of: </strong>The selected Search Term Candidate is in a "type-of" relationship with the Related Term. E.g. animal is a hypernym of bird.</li>
      <li><strong>Is Acronym of: </strong>The Related Term is an Acronym of the Term Candidate. E.g. ANC is short for active noise cancellation.</li>
      <li><strong>Is Antonym of: </strong>The Related Term's meaning is the opposite of the Search Term Candidate's meaning. E.g. Black is the antonym of White.</li>
      <li><strong>Is another word form: </strong>The Related Term is another word form of the same word. E.g. Cats is the plural of cat.</li>
      <li><strong>Is part of: </strong>The Related Term is in a "part-of" relationship with the Term Candidate. E.g. a wheel is part of a car.</li>
      <li><strong>None: </strong>No relationship between selected Search Term Candidate and Related Term exists.</li>
    </ul>
    <p>
    When you are done assessing a patent please go back to the dashboard and start with the next patent. All progress is saved automatically.
    </p>
  </div>
</div>