<div class="row fill">
  <div class="col-md-6 fill">
    <div class="row pdf-title">
      <div class="col-sm-12 fill">
        <button type="button" class="btn" [class.btn-default]="displayMode != 'pdf'" [class.btn-primary]="displayMode == 'pdf'" (click)="onSelectMode('pdf')">PDF</button>
        <button type="button" class="btn" [class.btn-default]="displayMode != 'text'" [class.btn-primary]="displayMode == 'text'" (click)="onSelectMode('text')">Text</button>
      </div>
    </div>
    <div class="row pdf-body" *ngIf="displayMode == 'pdf'">
      <div class="embed-responsive" style="padding-bottom: calc(100% - 50px); padding-bottom: -moz-calc(100% - 50px); padding-bottom: -webkit-calc(100% - 50px);" *ngIf="pdfURL">
        <object [attr.data]="pdfURL | safe" type="application/pdf" width="100%" height="100%"></object>
      </div>
    </div>
    <div class="row pdf-body" *ngIf="displayMode == 'text' && patentText">
      <app-patent-text [text]="patentText" [termCandidate]="selectedCandidate" [relatedTerm]="selectedRelatedTerm"></app-patent-text>
    </div>
  </div>
  <div class="col-md-6 fill">
    <div class="row fill" *ngIf="assessment">
      <div class="col-sm-6 scrolling">
        <accordion [closeOthers]="true">
          <accordion-group heading="Search Term Candidates" panelClass="candidatesClass" [isDisabled]="true"></accordion-group>
          <accordion-group heading="{{termCandidate.name}}" [panelClass]="isAssessedTermCandidate(termCandidate)" *ngFor="let termCandidate of term_candidates" (click)="onSelectCandidate(termCandidate)">
            <div>Termhoodness:</div>
            <div class="radio">
              <label>
                <input type="radio" name="{{termCandidate.id}}-candidates" value="keyphrase" 
                [checked]="getSearchQuality(termCandidate) === 0" 
                (click)="onSelectSearchQuality(termCandidate, 0)"> Search Term / Keyphrase
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{termCandidate.id}}-candidates" value="term" 
                [checked]="getSearchQuality(termCandidate) === 1"
                (click)="onSelectSearchQuality(termCandidate, 1)"> Technical Term
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{termCandidate.id}}-candidates" value="none" 
                [checked]="getSearchQuality(termCandidate) === 2"
                (click)="onSelectSearchQuality(termCandidate, 2)"> Not a Technical Term
              </label>
            </div>
          </accordion-group>
        </accordion>
      </div>
      <div class="col-sm-6 scrolling">
        <accordion [closeOthers]="true">
          <accordion-group heading="Related Terms" panelClass="relatedClass" [isDisabled]="true"></accordion-group>
          <accordion-group heading="{{relatedTerm.name}}" [panelClass]="isAssessedRelatedTerm(selectedCandidate, relatedTerm)" *ngFor="let relatedTerm of related_terms" (click)="onSelectRelated(relatedTerm)">
            <div>Relation to "{{selectedCandidate.name}}":</div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="synonym"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 0"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 0)">Is Synonym of
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="hyponym"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 1"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 1)">Is Hyponym of
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="hypernym"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 2"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 2)">Is Hypernym of
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="acronym"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 3"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 3)">Is Acronym of
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="antonym"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 4"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 4)">Is Antonym of
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="word-form"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 5"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 5)">Is another word form
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="part"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 6"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 6)">Is part of
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="none"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 7"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 7)">None
              </label>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>