<div class="row fill">
  <div class="col-md-6">.col-md-6</div>
  <div class="col-md-6 fill">
    <div class="row fill" *ngIf="assessment">
      <div class="col-sm-6 scrolling">
        <accordion [closeOthers]="true">
          <accordion-group heading="Search Term Candidates" panelClass="candidatesClass" [isDisabled]="true"></accordion-group>
          <accordion-group heading="{{termCandidate.name}}" *ngFor="let termCandidate of term_candidates" (click)="onSelectCandidate(termCandidate)">
            <div>Useable as a search term:</div>
            <label class="radio-inline">
              <input type="radio" name="{{termCandidate.id}}-candidates" value="good" 
              [checked]="getSearchQuality(termCandidate) === 0" 
              (click)="onSelectSearchQuality(termCandidate, 0)"> Good
            </label>
            <label class="radio-inline">
              <input type="radio" name="{{termCandidate.id}}-candidates" value="in-context" 
              [checked]="getSearchQuality(termCandidate) === 1"
              (click)="onSelectSearchQuality(termCandidate, 1)"> In Context
            </label>
            <label class="radio-inline">
              <input type="radio" name="{{termCandidate.id}}-candidates" value="bad" 
              [checked]="getSearchQuality(termCandidate) === 2"
              (click)="onSelectSearchQuality(termCandidate, 2)"> Bad
            </label>
          </accordion-group>
        </accordion>
      </div>
      <div class="col-sm-6 scrolling">
        <accordion [closeOthers]="true">
          <accordion-group heading="Related Terms" panelClass="relatedClass" [isDisabled]="true"></accordion-group>
          <accordion-group heading="{{relatedTerm.name}}" *ngFor="let relatedTerm of related_terms" (click)="onSelectRelated(relatedTerm)">
            <div>Relation to "{{selectedCandidate.name}}":</div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="synonym"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 0"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 0)">Synonym
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="hyponym"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 1"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 1)">Hyponym
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="hypernym"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 2"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 2)">Hypernym
              </label>
            </div>
            <div class="radio">
              <label>
                <input type="radio" name="{{selectedCandidate.id}}-{{relatedTerm.id}}-related" value="none"
                [checked]="getRelationship(selectedCandidate, relatedTerm) === 3"
                (click)="onSelectRelationship(selectedCandidate, relatedTerm, 3)">None
              </label>
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  </div>
</div>