<div class="row fill">
  <div class="col-md-9 fill">
    <div class="row scrolling">
      <div class="col-md-4 dashelement" *ngFor="let asmnt of assessments" (click)="onSelect(asmnt)" [class.selected]="asmnt === selectedAssessment">
        <div class="panel" [class.panel-success]="asmnt.current_selections === asmnt.max_selections" [class.panel-default]="asmnt.current_selections != asmnt.max_selections">
          <div class="panel-heading">
            <h3 class="panel-title">[{{asmnt.method}}] {{asmnt.name}}</h3>
          </div>
          <div class="panel-body">
            <div class="progress">
              <div class="progress-bar" role="progressbar" attr.aria-valuenow="{{asmnt.current_selections / asmnt.max_selections * 100}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:asmnt.current_selections/asmnt.max_selections | percent}" [class.progress-bar-success]="asmnt.current_selections === asmnt.max_selections">
                <span class="sr-only">{{asmnt.current_selections / asmnt.max_selections * 100}}% Complete</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body" *ngIf="selectedAssessment">
        <button type="button" class="btn btn-primary" (click)="onAssess()">Start Assessment</button>
        <h4>Domains</h4>
        <ul>
          <li *ngFor="let domain of selectedAssessment.domains">{{domain}}</li>
        </ul>
        <h4>IPC</h4>
        <ul>
          <li *ngFor="let code of selectedAssessment.ipc">{{code}}</li>
        </ul>
        <h5>{{selectedAssessment.topic}}</h5>
      </div>
    </div>
  </div>
</div>